[2018-11-19 08:29] micaelgallego opened #2 "Provide Maven example"
First of all, congratulations for this amazing project.

I'm trying to use micronaut-spring with Maven (I'm stick in the past, I know). For that, I've tried to "merge" one micronaut example with the official micronaut-spring example (written with Gradle). I've been able to generate a working .jar, but when I try to create Graal native image, I have an error. It seems I am including some library in

[2018-11-20 07:53] MartyIX opened #3 "No embedded container found. Running as CLI application"
Hi,

I have tried to convert my Spring Boot application in Kotlin to use Micronaut:

[code]

However, I get the following output:

[code]

The error means that `@SpringBootApplication` was not found, right? So the issue is possibly in my build.gradle file.

Best regards,
Martin

[2018-12-02 08:25] rburgst opened #4 "formatters are not utilized"
Custom formatters are not available: See

https://github.com/rburgst/micronaut-spring-example

The gist ist that you would define custom type converters for REST controller methods via the FormatterRegistry

[code]

These are not used/initialized by micronaut-spring, therefore the following request fails:

[code]

To replicate the problem, launch the application via

[code]
and send the above ment

[2018-12-10 15:31] graemerocher commented on #4
I guess we could probably adapt formatters to the binder API, will see what we can do. Thanks for the feedback

[2019-01-03 16:12] #2 closed

[2019-01-03 16:13] graemerocher commented on #2
Example maven build can be found at https://github.com/micronaut-projects/micronaut-spring/commit/bdcb72e11c56553b6b0897d6502ad84c0af83b7b#diff-ddb88e6d76abb4da188c8c71a5bfe229

[2019-01-03 18:46] micaelgallego commented on #2
graal-native-image branch lacks Maven version. Do you plan to include it?

[2019-01-04 13:12] graemerocher commented on #3
A Kotlin example is now available at https://github.com/micronaut-projects/micronaut-spring/tree/master/examples/greeting-service-kotlin

[2019-01-04 13:12] #3 closed

[2019-01-04 13:51] NicklasWallgren opened #6 "Docker build fails - Could not find or load main class io.micronaut.graal.reflect.GraalClassLoadingAnalyzer"
[code]

[code]

[2019-01-04 14:51] graemerocher commented on #6
Sorry broke it with my last commit, will push a fix in a minute

[2019-01-04 15:54] #6 closed

[2019-01-07 18:09] bygui86 opened #8 "Branch graal-native-image not compiling and missing build-native-image.sh"
Hi everybody,

I read [this article](https://www.infoq.com/news/2018/12/micronaut-for-spring-graalvm?utm_source=notification_email&utm_campaign=notifications&utm_medium=link&utm_content=content_in_followed_topic&utm_term=daily) by Michael Redlich and I wanted to test the sample application `greeting-service`.

The `master` branch works perfectly, but unfortunately the `graal-native-image` branch d

[2019-01-07 18:13] graemerocher commented on #8
Please yes the Gradle and Docker builds for the moment. Will look at this shortly

[2019-01-08 07:59] bygui86 commented on #8
@graemerocher thank you for the quick reply.

I tried with Gradle and it's compiling
`gradlew bootRun` returns the error here below:
[code]

but `gradlew run` works fine and I can access rest apis.

Unfortunately trying to build the Docker image using `docker build . -t greeting-service`, I get this error:
[code]
This should be already fixed in issue #6

[2019-01-08 08:02] bygui86 commented on #8
I tried to do build everything manually with this command list:

1. `gradle assemble`
2. `java -cp build/libs/greeting-service-all.jar io.micronaut.graal.reflect.GraalClassLoadingAnalyzer`
3. ```native-image --no-server \
         --allow-incomplete-classpath \
         --class-path build/libs/greeting-service-all.jar \
         -H:ReflectionConfigurationFiles=build/reflect.json \
         -H:Enab

[2019-01-08 08:04] graemerocher commented on #8
Let me have a quick look... stand by

[2019-01-08 08:07] graemerocher commented on #8
On the `graal-native-image` the `bootRun` task doesn't work because the way the Boot gradle/maven plugins work is not compatible with Graal so that branches uses the Shade/shadow plugins which don't support `bootRun` only `run`

Odd that you get this error. This is the output you should get from `docker build . -t greeting-service`.

[code]

[2019-01-25 12:42] t-buss opened #10 ""Page not found" after switching from Spring Boot to Micronaut"
Hello there,
I created a sample project with Spring Initialyzer. It's a simple shopping cart service, just for messing with Micronaut for Spring.

In [this](https://github.com/t-buss/micronaut-cart/commit/6432395348787898db962fe6ab2817005101e107) commit, I tried to switch from Spring to Micronaut (with the intention of building a GraalVM native binary later), following the official [documentation]

[2019-01-25 13:31] graemerocher commented on #10
Looks like a misconfiguration of the build. You have to use `kapt`. The `annotationProcessor` scope is only for Java. See https://github.com/micronaut-projects/micronaut-spring/blob/master/examples/greeting-service-kotlin/build.gradle#L5 for an example Kotlin build

[2019-01-25 13:46] t-buss commented on #10
@graemerocher thanks! Adding `kapt` to the mix worked! But I could imagine that others may fall into the same pitfall.
How do you feel about changing this in the documentation under "2.1 Build Configuration"? I can open a PR highlighting the necessary dependencies for the specific languages.

[2019-01-25 13:50] graemerocher commented on #10
Sure sounds like a great idea. PRs welcome!

[2019-01-25 13:50] #10 closed

[2019-01-29 09:44] t-buss commented on #10
@graemerocher Working on the PR, but I cannot find anything on Groovy. What annotation processors are used for Groovy?

[2019-02-07 12:49] tdanylchuk opened #12 "Unsupported SB feature"
Hello all!

The idea of running Spring Boot apps with AOT is tremendous, so I'm trying to convert my project from boot to micronaut with help of these libs, but unfortunately it's hard to investigate why thing not going in right way.
I'm using Spring boot + groovy + spring cloud config service (which is not that trivial compared to examples).

So I've started with small steps: creating Spring Boot

[2019-02-07 15:37] graemerocher commented on #12
As mentioned in the docs running everything won't be possible and isn't the goal of the project. We're trying to build something that will allow you to share libraries between Micronaut and Spring and make it easier to migrate to Micronaut from Spring, but it won't support all Spring features nor provide a 1 to 1 mapping for every Spring feature.

As it happens I do think we should probably suppor

[2019-02-16 06:11] kdabir opened #13 "Support for Spring Data JPA"
**Context:**
I am really interested in converting an existing Spring boot based project to micronaut. The smoothest way to to transition, I think is, leaving spring annotation as-is and use micronaut-spring project.

The project relies heavily on Spring Data JPA (Pageable, Sorting, Specification for search) etc.

**Question/Feature Request:**
What is the way to convert the Spring Data Repos to Mic

[2019-02-18 07:44] graemerocher commented on #13
Duplicates https://github.com/micronaut-projects/micronaut-core/issues/1193

It is currently not supported, but may be in the near future

[2019-02-27 19:39] longwa opened #14 "getBean("name") throws NullPointerException if the bean is not found"
Using Grails 4.0.0.M1, if a bean is attempted to be loaded via `getBean('foo')` or using the BeanBuilder syntax of `ref('foo')`, a NullPointerException is thrown from the MicronautBeanFactory.
[code]

I believe it should throw a `NoSuchBeanDefinitionException` instead.

Sample Grails 4 application (sorry, no Micronaut example):
https://github.com/longwa/grails4-contextNullPointer

[2019-02-27 19:42] graemerocher commented on #14
Thanks for the report! Will fix this

[2019-02-27 19:45] longwa opened #15 "MicronautBeanFactory can throw StackOverflowError on startup"
Using Grails 4.0.0.M1, a scenario exists where the bean factory can throw a StackOverflowError. I'm not sure the exact cause, but it's easy to reproduce via Grails 4 by just changing the config option for:

[code]
And including a library that has an MBean present.

[code]

Sample Grails 4 application (sorry, no Micronaut example):
https://github.com/longwa/grails4-contextOverflow

Perhaps, in this

[2019-03-13 10:53] #14 closed

[2019-03-13 11:14] #15 closed

[2019-03-13 11:23] #12 closed

[2019-03-17 17:06] mageddo opened #16 "@Transactional not working on compiled graal binary"
**Context**
I configured micronaut + spring jdbc and generated a binary using graalvm

**What I expected**
JDBC Transactions working by using `@Transactional`

**What is happening**

`@Transactional` is not working after generate the binary using `native-image` the feature works but keep getting a new connection for every SQL statement

**Steps to reproduce**
[code]
[current-behavior.txt](https://

[2019-03-17 17:14] #16 closed

[2019-03-17 17:15] mageddo commented on #16
Opened a issue [on micronaut-core](https://github.com/micronaut-projects/micronaut-core/issues/1387) instead

[2019-03-19 23:51] rverma-nikiai opened #17 "Guidelines for converting spring boot application to micronaut"
Would be awesome if the project can print recommended steps for converting a spring boot app to micronaut by specifying some runtime args.

[2019-03-20 01:37] rverma-nikiai opened #18 "Support for SpringBootServletInitializer"
Within an app using SpringBootServletInitializer with spring, the app doesn't work on micronaut. Required to convert a spring boot app with servelet based startup as
[code]

[2019-03-22 14:11] igarciaes opened #19 "The @ConfigurationProperties annotation inject null values when decorates a @Bean method in a @Configuration class"
Hi,
The @ConfigurationProperties annotation inject null values when is used to decorate a @Bean method in a @Configuration class. I have forked the repository and added an example bean which is configured using the configuration properties annotation. The bean values are populated correctly using only Spring Boot dependencies but the bean configuration properties are populated with null values whe

[2019-03-22 15:13] graemerocher commented on #19
We don't currently support returning `@ConfigurationProperties` from a `@Configuration` method. You would need to define the `@ConfigurationProperties` on the class itself

[2019-03-22 15:55] igarciaes commented on #19
Ok, thanks @graemerocher for your quick reply.
Then, if is not possible to use the ```@ConfigurationProperties``` annotation for bean factory methods in a ```@Configuration``` annotated class, could you please describe which would be the code refactoring using Micronaut for cases where the configuration values are injected directly to the bean returned by a factory method:
[code]
We would like to

[2019-03-22 15:57] graemerocher commented on #19
Since Micronaut does things at compilation time. You have a couple of options.

1. You can subclass the external class. See https://github.com/micronaut-projects/micronaut-sql/blob/master/jdbc-dbcp/src/main/java/io/micronaut/configuration/jdbc/dbcp/DatasourceConfiguration.java for an example of that
2. You can use `@ConfigurationBuilder` to reference an external builder. See https://github.com/mic

[2019-03-24 16:43] soberich opened #20 "Update examples to use build-time generation reflect.json file (starting from 1.1.0 framework version)"
Hope the header is quite descriptive.
The hand-written Dockerfile seems very clumsy and that build-time enablement would be great.

[2019-03-29 11:45] graemerocher commented on #18
What are you using from `SpringBootServletInitializer` that you need?

[2019-03-29 11:47] graemerocher opened #21 "NonUniqueBeanException thrown when using Micronaut Kafka module in Spring Boot"
Exception is, which shouldn't happen:

[code]

[2019-03-29 12:20] igarciaes commented on #19
Thanks @graemerocher for your reply!

[2019-04-04 11:45] jvaca92 commented on #8
I found out if you would like to build that with maven added this dependency in the pom.xml

 <dependency>
      <groupId>com.oracle.substratevm</groupId>
      <artifactId>svm</artifactId>
       <version>1.0.0-rc8</version>
       <scope>provided</scope>
 </dependency>

But also missing the script for build the example as native-image.

[2019-04-08 09:43] #21 closed

[2019-04-08 09:44] graemerocher commented on #20
Will do this once 1.1 is out. Thanks

[2019-04-12 01:19] aarthisankaran commented on #6
With micronautVersion=1.1.0.BUILD-SNAPSHOT
getting
Could not find or load main class io.micronaut.graal.reflect.GraalClassLoadingAnalyzer

[2019-04-12 01:20] aarthisankaran opened #23 "micronaut graal docker build issue"
With micronautVersion=1.1.0.BUILD-SNAPSHOT
getting
Could not find or load main class io.micronaut.graal.reflect.GraalClassLoadingAnalyzer

[2019-04-12 06:54] ilopmar commented on #6
@aarthisankaran `GraalClassLoadingAnalyzer` is an old class that is not used anymore when creating the native-image. If you create a new application with 1.1.0 everything works as expected:

[code]

And with Docker:
[code]

[2019-04-12 08:23] graemerocher commented on #23
Example updated to Micronaut 1.1 https://github.com/micronaut-projects/micronaut-spring/commit/5fdba1156b420ee1cde10230ab4f1b4fce6e05b9

[2019-04-12 08:23] #23 closed

[2019-04-12 08:23] graemerocher commented on #20
https://github.com/micronaut-projects/micronaut-spring/commit/5fdba1156b420ee1cde10230ab4f1b4fce6e05b9

[2019-04-12 08:23] #20 closed

[2019-04-12 08:23] graemerocher commented on #8
Updated to Micronaut 1.1 https://github.com/micronaut-projects/micronaut-spring/commit/5fdba1156b420ee1cde10230ab4f1b4fce6e05b9

[2019-04-12 08:23] #8 closed

[2019-05-06 13:17] rafaelhl opened #25 "Support for @Value with default value with key"
Can't recognized implementation of default value pattern in spring-boot when converted to micronaut:

[code]

[2019-05-31 11:34] nehaliacharya94 opened #26 "Facing issue for decryption of environment variables using AWS KMS"
I have a SpringBoot application which I am migrating to Micronaut. This application reads the environment variables on AWS Lambda and the variables are encrypted using KMS. I used the SpringBootServletInitializer to get the variables from KMS and decrypt it before the data source formation. The same is not working in Micronaut. Could you help me proceed.

[2019-07-24 13:29] mbagliojr opened #27 "Spring Security Support"
Does this support the @Secured annotation on http endpoints? It doesn't look like spring security is supported from the doc.

[2019-07-31 19:33] davidkiss opened #35 "java.lang.ClassNotFoundException: org.springframework.http.server.reactive.ServerHttpRequest"
I'm trying to convert a Spring Boot v1.5.2 application to micronaut and following the guide (https://micronaut-projects.github.io/micronaut-spring/latest/guide/index.html) and the sample app (https://github.com/micronaut-projects/micronaut-spring/tree/master/examples/greeting-service) and getting below exception:

[code]

From what I can see, micronaut's `io.micronaut.spring.web.bind.ServerHttpReq

[2019-08-10 09:09] shreyasht commented on #17
Agreed! This would be very useful.

[2019-09-06 06:55] graemerocher commented on #13
Implemented in Micronaut Data. See https://github.com/micronaut-projects/micronaut-data/tree/master/examples/example-jdbc-spring

[2019-09-06 06:55] #13 closed

[2019-10-09 19:45] jameskleeh commented on #25
Are you using the micronaut annotation or the spring annotation? In a spring bean you would have to use the spring annotation. In a Micronaut bean you would have to use the Micronaut annotation.

[2019-10-09 20:00] #25 closed

[2019-10-09 20:13] jameskleeh commented on #27
@mbagliojr Can you clarify what you're trying to do? Is this a Grails app or a regular boot app? Or are you trying to use spring security in a Micronaut app?

[2019-10-10 18:46] mbagliojr commented on #27
I have a spring boot application and I saw that it is possible to wrap a spring application in micronaut. I was looking to do this to ultimately leverage GraalVM which micronaut also supports but it seems as though I'm relying on some elements of Spring that you guys don't support, namely spring security.

[2019-10-10 18:51] jameskleeh commented on #27
@mbagliojr Simply adding Micronaut on top of your existing boot app doesn't make the entire application compatible with GraalVM. In regards to the endpoints, assuming you are using the spring boot servlet environment, Micronaut has no bearing on the server.

[2019-10-10 18:51] #27 closed

[2019-10-18 13:43] musketyr opened #43 "URL mapping from RestController is ignored"
URL prefix from `@RestController("/url/prefix")` is ignored and not translated to `@Controller("/url/prefix")`.

see https://github.com/micronaut-projects/micronaut-spring/blob/master/spring-web-annotation/src/main/java/io/micronaut/spring/web/annotation/RestControllerAnnotationMapper.java#L42

[2019-10-18 13:56] graemerocher commented on #43
The value passed to `@RestController` is the logical bean name not a URI. See https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/web/bind/annotation/RestController.html

[2019-10-18 13:56] #43 closed

[2019-10-18 15:06] musketyr commented on #43
My fault. Thanks for pointing out

[2020-02-08 18:20] sarasgh opened #47 "graal-native-image branch # native image build failing"
I am trying to create graal native image using docker on windows10 machine but it fails with out of memory errors at analysis phase which is taking unusually longer time though am running on 16G ram.. anyone able to successfully build native image from graal-native-image branch?

[greeting-service:6]    classlist:   9,908.57 ms
[greeting-service:6]        (cap):   1,165.18 ms
[greeting-service:6]

[2020-02-14 08:15] graemerocher commented on #47
You need to assign more memory to the native image process. See the GraalVM user guide

[2020-02-14 08:15] #47 closed

[2020-02-21 09:00] ziyilin opened #48 "“More than 1 route matched the incoming request” when run native-image version of examples/greeting-service"
Getting erroneous respond from the native compiled examples/greeting-service application.

[code]
How to reproduce:
1. On branch `origin/graal-native-image`, apply this patch
[0001-native-image-ready.txt](https://github.com/micronaut-projects/micronaut-spring/files/4235157/0001-native-image-ready.txt)
which adding necessary configurations so the examples/greeting-service can be compiled by GraalVM

[2020-02-21 09:15] ilopmar commented on #48
@ziyilin where is the sample app?

[2020-02-21 09:16] ilopmar commented on #48
Scratch that. It's a branch in this same repo.

The problem is you are including all the classes generated by the java agent. All the Micronaut classes are not necessary. Please try again removing all those classes.

[2020-02-21 09:36] ziyilin commented on #48
It works when I delete the generatedConfigs/META-INF/native-image/resource-config.json generated by java agent.
Thanks!

[2020-02-21 09:38] ilopmar commented on #48
If you ever need to use the java agent keep it in mind and delete all the micronaut/netty entries there. For Micronaut are not necessary because it's reflection-free.

[2020-02-21 09:38] #48 closed

[2020-03-03 13:21] esocode opened #50 "MicronautEnvironment.getConversionService() always returns null"
While looking through the code I just noticed that the method `MicronautEnvironment.getConversionService()` always returns null although there is an instance variable of type `ConfigurableConversionService`and the only usage of it in the setter (but not the getter). I'm not using this project currently so I cannot say if this leads to problems but it looks like an omission.

[2020-03-10 11:00] sdelamo opened #51 "Update micronaut docs to 1.0.22"

[2020-03-10 11:05] #51 closed

[2020-03-31 06:31] zyro23 opened #53 "MicronautApplicationContext not inheriting parent propertySources"
trying to use testcontainers boot autoconfig which relies on spring-cloud's bootstrap context. that gets registered as a parent context upstream of the micronaut context. but i am not able to resolve its properties from the application.

is the `MicronautApplicationContext` not supposed to merge the parent environment (i.e. inherit parent propertySources)?

* https://github.com/micronaut-projects/

[2020-03-31 06:51] graemerocher commented on #53
Potentially, if you wish to send a PR for this, contributions welcome!

[2020-03-31 08:58] zyro23 commented on #53
i started to give it a shot - see the referenced commit. but at that point, i hit `java.lang.UnsupportedOperationException: Method parent not supported`:
* https://github.com/micronaut-projects/micronaut-spring/blob/master/spring-context/src/main/java/io/micronaut/spring/context/env/MicronautEnvironment.java#L195

looks like there, a reverse propertySources merging impl. spring env. -> micronaut e

[2020-04-09 16:07] #50 closed

[2020-04-29 15:57] alvarosanchez opened #56 "Include micronaut-spring in the BOM"

[2020-05-07 08:54] alvarosanchez opened #58 "NoSuchBeanDefinitionException when trying to get a singleton qualified by name"
See https://github.com/micronaut-projects/micronaut-spring/runs/650157904

[2020-05-26 17:30] lightbody opened #59 "Consider changing Order for TransactionInterceptor"
Currently both `io.micronaut.spring.tx.annotation.TransactionInterceptor` and `io.micronaut.scheduling.async.AsyncInterceptor` have the default order of 0 implemented in the `Ordered` interface.

A common pattern is handing off work to a method asynchronously that also needs to operate in a transaction context. Right now, if you make a single method that is both `@Transactional` and `@Async`, the

[2020-06-03 13:32] #59 closed

[2020-06-05 10:11] kapitanz opened #65 "Micronaut with H2 DB does not work with GraalVM"
### Steps to Reproduce

**1. Create project:**
 mn create-app micronaut-jpa-graal --features data-hibernate-jpa graal-native-image --build maven
**2. Add simple classes Job - pojo, entity, service and controller:**
**1) Data**
public class Job {
    @Id
    @GeneratedValue
    private Long id;
    private String name;
    private Date creationDate;
}
//getter setter, c-tor
**2) Entity:**
@Reposito

[2020-06-05 10:19] ilopmar commented on #65
Make sure that you have configured properly GraalVM for H2. We have a test application for Micronaut 1.3.x here https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal/tree/1.3.x_h2

That application is using snapshot versions of Micronaut and Micronaut Data that include a lot of improvements for GraalVM support, so you may need to add configuration manually to your application.
You prob

[2020-06-05 10:48] kapitanz commented on #65
OK, thank you for quick response, I will try with your example.

[2020-06-08 13:27] kapitanz commented on #65
Hi @ilopmar
I`ve tried to customize my maven app to make it similar to your test application, but I have still the same issues. As a matter of fact I don`t understand why you dockerfile is completelly different than docker file created out of the box with Micronaut graal vm project. Here https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal/blob/1.3.x_h2/Dockerfile we can see creation

[2020-06-08 13:32] ilopmar commented on #65
My Dockerfile is different because it is for a normal JVM app and because I don't use Docker in that project. I should remove it.

Yes, I confirm that Micronaut and GraalVM are compatible with an embedded H2 DB. I've never tried with a remote H2 DB.

This is the latest execution of the CI pipeline app for Micronaut Data JPA with H2:
- [native image build](https://gitlab.com/micronaut-projects/micr

[2020-06-12 11:15] jimmytheneutrino opened #73 "Why is @Transactional deprecated?"
https://github.com/micronaut-projects/micronaut-spring/blob/04926c65609a6d8ff01c7f2c41b5c0ee323afc4d/spring/src/main/java/io/micronaut/spring/tx/annotation/Transactional.java#L58

The proposed replacement (Spring's transactional annotation) does not seem to work as is (using only micronaut-spring jar and even adding micronaut-spring-annotation:2.0.0). Maybe I am missing something else but could th

[2020-06-12 13:14] graemerocher commented on #73
`micronaut-spring-annotation` has to go on the annotation processor classpath

[2020-06-12 14:55] jimmytheneutrino commented on #73
Thank you!

[2020-06-12 14:56] #73 closed

[2020-06-13 07:40] graemerocher opened #74 "Publish a BOM"
Project should include a Maven BOM

[2020-06-25 14:46] cemo opened #84 "Bug: Props can not be found with MicronautBeanProcessor"
I am not sure this is the correct repo or not but I am trying to make use MicronautBeanProcessor.

My problem is that Micronaut can not resolve Spring's properties.

For EachProperty part of DataJdbcConfiguration configuration:

https://github.com/micronaut-projects/micronaut-data/blob/c1d1dc3cdee0e73125e1bc58d05c05d23c1e0633/data-jdbc/src/main/java/io/micronaut/data/jdbc/config/DataJdbcConfigurat

[2020-06-25 15:56] graemerocher commented on #84
Can you provide an example?

[2020-06-25 19:24] cemo commented on #84
@graemerocher

https://github.com/cemo/micronaut-spring-84 here is the example.

1. put a breakpoint DefaultEnvironment#getProperty inside MicronautBeanProcessor. You will see that it is not resolved.

I make it raise an error on RegionService class to show that something is not configured correctly.

PS: After resolving all issues using Micronaut data inside Spring will be so beautiful :)

[2020-06-25 22:44] cemo commented on #84
Another approach can be using Spring's property sources as Micronaut.

https://gist.github.com/cemo/b26b1fb8bc814e2213b1f43dedf6a2bc/

This is working.

[2020-07-13 09:47] ilopmar commented on #26
@nehaliacharya94 Can you please share a sample application that reproduces the issue?

[2020-07-13 09:47] ilopmar commented on #26
Probably related to #18

[2020-07-13 09:48] ilopmar commented on #35
@davidkiss can you please share an application that reproduces the issue?

[2020-07-15 21:02] davidkiss commented on #35
@ilopmar I no longer have access to the code where I tried using micronaut so won't be able to reproduce this issue. Feel free to close the ticket, if that's a blocker

[2020-07-16 06:30] #35 closed

[2020-08-05 14:11] ilkin opened #106 "Micronaut for Spring doesn't work with Micronaut 2.x."
Hi, Micronaut for Spring doesn't work with Micronaut 2.x. Builds and runs successfully, but doesn't register Controller and not found rest api. Also generate simple spring-boot project from launch  missed below plugins:
[code]

[2020-08-05 14:23] ilopmar commented on #106
@ilkin can you please open an issue on https://github.com/micronaut-projects/micronaut-starter about the missing depedencies?

Regarding the compatibility, please see #57 and #58

[2020-08-05 16:00] #106 closed

[2020-08-21 14:23] sdelamo opened #110 "Add Release History section which points to Github releases from Micronaut Spring docs"

[2020-09-13 13:42] #110 closed

[2020-10-26 16:43] thedewpoint opened #124 "Page not found when converting existing spring boot application to use micronaut"
I took an existing spring boot application and am trying to use the micronaut-spring annotations to convert it to use micronaut. I have stripped it down to a really basic healthcheck endpoint. I don't see any compilation errors, and the app starts up successfully. When I hit the healthCheck endpoint, it says its not found. I guess ultimately I am looking for some pointers on how to troubleshoot th

[2020-10-26 17:39] thedewpoint commented on #124
Just an update, I downloaded the greeter service example here and ran it and I'm getting the same error for the greeter endpoint. I'm wondering if I have a dependency version issue. In your example it is using micronaut 1.3.4 with micronaut spring 2.0.0. I am using micronaut 2.0.1 with micronaut spring 2.1.0. I'm changing versions now and will report back

[2020-10-26 20:03] thedewpoint commented on #124
Another Update, I've changed the versions to be of that in the exemplar and I got the greeter service working. Now I'm using micronaut 1.3.4. I've updated my project to use this, but now I receive this error when hitting my healthCheck endpoint

{"message":"Internal Server Error: Failed to inject value for field [restTemplate] of class: webservice.resource.$HealthCheckResourceDefinition$Intercepte

[2020-10-27 12:45] thedewpoint commented on #124
I'm going to close this since changing the versions fixed the page not found issue, I will open a new issue to track the new problem I am having.

[2020-10-27 12:45] #124 closed

[2020-10-27 14:20] thedewpoint opened #126 "NoSuchBeanException when converting to use micronaut-spring on existing spring project"
I recently converted a sample service using spring boot over to use micronaut spring. I was able to get my healthcheck endpoint working, but in order to do it I had to comment out the below injection. Any direction on how to troubleshoot this would be appreciated. I'm getting a similar endpoint that injects aws java sdk dynamodb query utils class, so I'm wondering if there are certain spring beans

[2020-10-27 14:53] thedewpoint commented on #126
@ilopmar Do you think you could direct me on how to debug this?

[2020-10-27 15:07] graemerocher commented on #126
`RestTemplate` is not a bean in Micronaut, you would need to define it yourself. Something like:

[code]

[2020-10-27 15:19] thedewpoint commented on #126
@graemerocher  thank you for the swift reply. Would this be the case for any bean that I wanted to use? for example I have this other dynamodb bean
[code]
I thought that the annotation processor looked for anything being autowired and created beans for them. Is there any way to do this automatically for beans that are not inherently part of micronaut?

[2020-10-27 15:21] graemerocher commented on #126
there currently is not no. If you want DynamoDB see https://micronaut-projects.github.io/micronaut-aws/latest/guide/#dynamodb which you can add to your classpath

[2020-10-27 15:23] thedewpoint commented on #126
@graemerocher appreciate it, thank you. My hope was to have a minimally invasive way to take advantage of micronaut by using micronaut-spring, but it seems I may have to do a lot of code refactoring in order to do this, unless I misunderstand. Thanks again for your help.

[2020-10-27 15:25] graemerocher commented on #126
yes as mentioned in the project description this project allows you to use Spring annotations but at runtime it is a Micronaut application so you will need to use the Micronaut equivalents of various libraries (such as `micronaut-aws` for dynamodb)

[2020-10-27 15:26] #126 closed

[2020-10-27 15:28] thedewpoint commented on #126
@graemerocher appreciate it, thanks again!!

[2020-11-19 12:28] AbhideepChakravarty commented on #6
Somehow things are not working for me. When I run the docker image, I get this:
Error: No bin/java and no environment variable JAVA_HOME

I also tried with --no-fallback option in the Dockerfile, then if I run, it ends up saying that it is not able to locate Micronaut. Whats going on here?

[2020-11-23 18:24] puneetbehl opened #132 "Micronaut does not check the parent BeanFactory for the bean definition"
In `MicronautApplicationContext` the `beanFactory.parentBeanFactory` is not set while setting the parent ApplicationContext. Also, the `MicronautBeanFactory` does not even check the `parentBeanFactory` for bean definition.

Due to this some of the functionalities in Grails Core do not work properly when using BootApplicationContext. See related issue https://github.com/grails/grails-core/issues/11

[2020-12-02 20:25] #132 closed

[2020-12-09 06:12] qianyiyong opened #142 "Native Image of Micronaut-spring 3.0.0 spring boot example run failed with "java.util.zip.ZipException: zip END header not found""
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-09 06:18] qianyiyong commented on #142
@graemerocher

[2020-12-09 08:11] qianyiyong commented on #142
need package with maven-shade-plugin, embedded jar will cause these problem

[2020-12-09 08:11] #142 closed

[2021-01-12 21:33] arixmkii opened #156 "NPE in MicronautBeanFactory.getBeanDefinition"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided (link to the problematic code line provided)
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

https://github.com/micronaut-projects/micronaut-spring/blob/master/spring-context/src/main/java/io/micronaut/spring/context/factory/MicronautBeanFac

[2021-01-12 21:36] arixmkii commented on #156
@puneetbehl FYI. You might want to bump the dependency version before releasing Grails 4.1.0 final.

[2021-01-22 07:21] #156 closed

[2021-01-27 10:16] ilopmar commented on #18
Closing due to the lack of feedback.

[2021-01-27 10:16] #18 closed

[2021-01-27 10:17] ilopmar commented on #26
Closing due to the lack of feedback.

[2021-01-27 10:17] #26 closed

[2021-02-15 18:19] graemerocher opened #168 "Add note that Spring Data annotations supported"
They are supported in Micronaut Data

https://github.com/micronaut-projects/micronaut-data/tree/master/data-processor/src/main/java/io/micronaut/data/processor/mappers/spring

[2021-06-17 07:58] ilopmar opened #197 "Release a new version compatible with Micronaut 3.0"
Please follow the instructions in https://github.com/micronaut-projects/micronaut-core/issues/5607 and update that core issue with the information related to the upgrade.

[2021-07-22 12:55] arixmkii opened #206 "Publish new build for 3.1.x line (probably 3.1.1)"
Please consider publishing new release on top of current 3.1.0 with this fix https://github.com/micronaut-projects/micronaut-spring/commit/dbf8b2863f06708ce57d5aa027ea04d8bcc22dfb

Before it was possible to use snapshot builds, but it seems that they are not available now in jfrog oss (at least with default config, which worked before with gradle 6.9).

[2021-07-22 13:20] ilopmar commented on #206
We moved the snapshots to Sonatype OSS some months ago. See https://docs.micronaut.io/latest/guide/index.html#usingsnapshots

[2021-07-22 13:22] ilopmar commented on #206
Having said that, I'll release a new patch version of the module

[2021-07-22 13:33] ilopmar commented on #206
I've released 3.1.1. Please give it some minutes until it's synchronized to Central: https://repo.maven.apache.org/maven2/io/micronaut/spring/micronaut-spring/

Apologies for the delay getting this version out with the fix

[2021-07-22 13:33] ilopmar commented on #206
I've released 3.1.1. Please give it some minutes until it's synchronized to Central: https://repo.maven.apache.org/maven2/io/micronaut/spring/micronaut-spring/

Apologies for the delay getting this version out with the fix

[2021-07-22 13:33] ilopmar commented on #206
I've released 3.1.1. Please give it some minutes until it's synchronized to Central: https://repo.maven.apache.org/maven2/io/micronaut/spring/micronaut-spring/

Apologies for the delay getting this version out with the fix

[2021-07-22 18:12] #206 closed

[2021-07-22 18:13] #58 closed

[2021-07-22 18:14] jameskleeh commented on #58
Closing this because the logs are deleted and there is an example of this in the tests

[2021-12-03 20:29] #197 closed

[2021-12-10 09:24] frehov opened #246 "Failing context lookup/binding from MicronautApplicationContext.getBeansOfType"
### Expected Behavior

When using the application context to lookup beans of a certain type, I expect to get all beans associated with that type.

### Actual Behaviour

1. When using the (micronaut-core) application context to lookup beans of a certain type, I get all beans associated with a certain type regardless of them having a named annotation or not.
2. When using the (micronaut-spring) appl

[2021-12-13 20:37] graemerocher commented on #246
Please provide an example that reproduces the problem

[2021-12-14 13:47] frehov commented on #246
@graemerocher I've added an example in the original submisson, but for brewity here's the link https://github.com/frehov/micronaut-spring-failing-context-lookup-demo

The code doing the lookup through context is in the `StartupListener` class, I've also added a third example which is using the Spring BeanFactoryUtils

The exception thrown is `NoSuchBeanDefinitionException` and not `NoSuchBeanExcep

[2021-12-14 15:36] paullarionov opened #250 "@ConfigurationProperties bean not injected to Spring"
### Expected Behavior

I need to use Micronaut library in Spring.

Here example of @ConfigurationProperties bean in Micronaut:

[code]

Here bean processor in MicronautHttpClientConfig:

[code]

Spring context is not running because ZendeskClientConfiguration bean is not found. Debug not shows it in MicronautBeanProcessor:

https://monosnap.com/file/FxT66UhbNW1TotVmk47XRViMST0SsW

### Actual Behav

[2021-12-16 15:07] #250 closed

[2021-12-16 15:07] paullarionov commented on #250
`@Primary` annotation fixed it somehow

[2022-02-08 15:44] sdelamo opened #266 "update micronaut-build to new infrastructure"
### Issue description

update build to new infrastructure

[2022-02-17 21:16] jamesdh opened #270 "Micronaut unable to load beans within Spring context."
### Expected Behavior

A bean from a 3rd party library built using Micronaut can be successfully injected from within a Spring application via the MicronautBeanProcessor

### Actual Behaviour

<details>
<summary>Message: No bean of type [io.micronaut.core.cli.CommandLine] exists. (click to expand)</summary>

[code]
</details>

### Steps To Reproduce

I [pushed a branch](https://github.com/jamesdh/

[2022-02-25 08:21] #266 closed

[2022-03-09 12:20] timyates commented on #74
Fixe in https://github.com/micronaut-projects/micronaut-spring/pull/267

[2022-03-09 12:20] #74 closed

[2022-04-01 22:30] donbeave opened #292 "io.micronaut.context.exceptions.NonUniqueBeanException: Multiple possible bean candidates found: [java.util.concurrent.ExecutorService, java.util.concurrent.ExecutorService]"
### Expected Behavior

_No response_

### Actual Behaviour

One of my private Spring Boot applications is not able to upgrade to the latest Spring Boot version 2.6.6, it looks like the problem is not on the Spring Boot side, but probably on the `micronaut-spring` library side.

The application failed to start with this error:

[code]

It looks like Micronaut registering two beans of `ExecutorServi

[2022-04-08 16:31] wetted commented on #270
@jamesdh
I cloned your project and duplicated the test failure. On a hunch I created a JUnit5 version of your Spock test and it passes. I wonder if this is some kind of Spock problem? I created a duplicate of your `spring-with-micronaut-beans` example at https://github.com/grails-core-issues-forks/micronaut-spring-issue-270. See what you think.

[2022-04-08 17:29] jamesdh commented on #270
Nice. What made you look at Spock? Your version looks correct from a glance.

[2022-04-08 17:59] wetted commented on #270
I was mostly shooting from the hip, just to explore the issue. I tried injecting `io.micronaut.core.cli.CommandLine` directly into the Speck version and that failed as well, so on a hunch I decided to see if a JUnit5 test fails. It didn't.

What I'm still not sure about – and that may just be my lack of knowledge – is why Spock fails on `ApplicationRunnerListener` creation. Does JUnit5 execution a

[2022-05-03 08:40] renovate[bot] opened #309 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update junit5 monorepo to v5.8.2 (`org.junit.jupiter:junit-jupiter-engine`, `org.junit.jupiter:junit-jupiter-api`)

## Rate Limited

[2022-05-19 19:55] viniciusxyz opened #324 "Spring jdbc-template causes errors when transactions are used on native images."
### Expected Behavior

When the application is natively compiled I expect the same behavior as the jvm when using transactions.

### Actual Behaviour

When I try to run a code that has spring's @Transactional I get the error below:

[code]

### Steps To Reproduce

1. Clone project https://github.com/viniciusxyz/micronaut-transaction-failed/tree/transaction-error-native-image
2. Create native image

[2022-06-10 10:32] graemerocher commented on #292
can you provide an example app?

[2022-07-09 15:53] rainboyan opened #338 "MicronautBeanFactory's getBeanProvider is not implements stream()"
Hi, Micronaut Team:
In a Grails project with Micronaut Spring, which using Micronaut as parent application context,

When creating `RouterFunctionMapping` bean, there is an error occurred. I found `getBeanProvider` is not implements the default method `stream()`.
https://github.com/micronaut-projects/micronaut-spring/blob/6b6b48e5d19cf05302928c6e04335d60672225a9/spring-context/src/main/java/io/mic

[2022-07-22 07:40] sdelamo opened #343 "Supporting the ability to import spring libraries in a Micronaut Application"
### Issue description

The idea is that a company which has a library written in spring can import that code into a Micronaut application.

[2022-08-06 13:53] jamesdh commented on #343
The inverse of this (but perhaps related): https://github.com/micronaut-projects/micronaut-spring/issues/270

[2022-08-18 08:54] sascha-frinken opened #346 "Error when using spring-webmvc-5.3.22"
### Expected Behavior

A spring-boot application with micronaut context and a spring-webmvc-5.3.22 dependency works as with spring-webmvc-5.3.20.

### Actual Behaviour

The application fails with following error:

[code]

### Steps To Reproduce

## Description

After using spring-framework 5.3.22 (change was introduced with 5.3.21) our application
stack (spring-boot with Micronaut context and Vaad

[2022-09-13 12:42] sdelamo commented on #343
Closed via https://github.com/micronaut-projects/micronaut-spring/pull/332

[2022-09-13 12:42] #343 closed

[2022-09-13 12:50] jamesdh commented on #270
@sdelamo I'll update the branch I pushed and give it another go

[2022-09-13 13:54] graemerocher commented on #270
it should be available in central https://search.maven.org/artifact/io.micronaut.spring/micronaut-spring-boot-starter/4.3.0/jar

[2022-09-13 13:55] jamesdh commented on #270
Yea,sorry, [just found it](https://mvnrepository.com/artifact/io.micronaut.spring/micronaut-spring-boot-starter)!

[2022-09-13 17:33] jamesdh commented on #270
Also worth mentioning I was unable to resolve `micronaut-spring-boot-starter` via the micronaut-bom. I had to specify a version in order for it to be picked up.

[2022-09-16 11:29] sdelamo commented on #270
which BOM version 3.6.0? Latest version of micronaut-spring will not be included in the BOM until Micronaut 3.7.0 is released.

[2022-09-16 13:51] jamesdh commented on #270
@sdelamo 3.6.3: https://github.com/jamesdh/micronaut-spring/blob/mn_bean_in_spring_issue/examples/spring-with-micronaut-beans/build.gradle#L57

[2022-09-27 13:11] sascha-frinken commented on #346
This seems to be fixed with `v4.3.1`

[2022-09-27 13:11] #346 closed

[2022-10-03 20:26] wetted commented on #270
I revised my version of the example (https://github.com/grails-core-issues-forks/micronaut-spring-issue-270), with micronaut 3.7.1, micronaut-spring 4.3.1, spring boot 2.7.4 (i.e. latest). The JUnit5 test passes, as it did before. The Spock test still fails with the "Message: No bean of type [io.micronaut.core.cli.CommandLine] exists" error.

ping @sdelamo

[2022-11-29 12:45] honza-timmo opened #375 "Support "multipart/form-data" requests in spring rest controller"
### Feature description

Spring Boot `@RestController` supports "multipart/form-data" requests. It should also be supported in micronaut-spring as it is commonly used in web applications.

Following method consumes multipart/form-data in Spring Boot, no need to specify this mime type explicitly when there is `@RequestPart` annotated argument.
[code]

[2022-11-29 12:49] #375 closed

[2022-11-29 12:50] jhorvath opened #376 "Support "multipart/form-data" requests in spring rest controller"
### Feature description

Spring Boot `@RestController` supports "multipart/form-data" requests. It should also be supported in micronaut-spring as it is commonly used in web applications.

Following method consumes multipart/form-data in Spring Boot, no need to specify this mime type explicitly when there is `@RequestPart` annotated argument.
[code]